.source {
  display: block;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.source li {
  display: flex;
  width: 100%;
  margin-bottom: 1.4rem;
  padding: 0.6rem 0 2rem 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.source li:nth-child(1) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

li:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

li:nth-child(3) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

li:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

li:nth-child(5) {
  -webkit-animation-delay: 1.25s;
  animation-delay: 1.25s;
 }

.source li:last-child {
  border: none !important;
}

.source__info {
  flex: 1;
  margin-right: 1.4rem;
}

.source__info .source__info-title {
  font-size: 2rem;
  font-weight: 500;
}

.source__info .source__info-description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 28px;
  margin-top: 0.8rem;
}

.source__tech {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-right: 1rem;
}

.source__tech p {
  background-color: #6236ff;
  padding: 0.6rem 0.8rem;
  margin-right: 0.6rem;
  border-radius: 50px;
  align-self: flex-start;
}

.source__git {
  flex: 1;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}
