@import './css/reset.css';
@import './css/stars.css';
@import './css/slider.css';
@import './css/opensource.css';
@import './css/skill.css';

* {
  font-family: 'Roboto Slab', serif !important;
  color: white;
  font-size: 300;
  font-size: 16px;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
  /* -ms-overflow-style: none; */
  /* overflow: hidden; */
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.container {
  width: 74%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
}

section {
  z-index: 999;
  min-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  z-index: 0;
  -webkit-transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
  transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

.content__title {
  font-size: 3rem;
  font-weight: 500;
  padding: 1.8rem 0;
  display: block;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

/* ///////////////////////////////////////// */
/* ////////  INPUT CLICKER  /////////////// */
/* //////////////////////////////////////// */

#content1:checked ~ .container section {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

#content2:checked ~ .container section {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

#content3:checked ~ .container section {
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

#content4:checked ~ .container section {
  -webkit-transform: translateY(-300%);
  transform: translateY(-300%);
}

/* ///////////////////////////////////////// */
/* //////  SCROLL CONTAINER  /////////////// */
/* //////////////////////////////////////// */

input {
  display: none;
}

.scroll__container {
  display: block;
  color: white;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  margin-bottom: 2rem;
}

.scroll__container-2 {
  position: relative;
  margin-bottom: 3rem;
}

.scroll__container::after {
  content: '';
  margin-top: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  display: block;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s; /* For modern browsers */
}

.scroll__container:hover::after {
  border-bottom: 2px solid #6236ff;
}

.scroll__container:hover .scroll__container-label i {
  color: #6236ff;
}

.scroll__container:hover .scroll__container-label small {
  color: #6236ff;
}

.scroll__container-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 0 8px;
}

.scroll__container-label i {
  margin-right: 16px;
  font-size: 16px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; /* For modern browsers */
}

.scroll__container-label small {
  color: aliceblue;
  font-weight: 300;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; /* For modern browsers */
}

/* ///////////////////////////////////////// */
/* ////////  NAV CONTAINER  /////////////// */
/* //////////////////////////////////////// */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 4rem 0px;
  flex-direction: row;
  align-items: center;
}

.navbar img {
  width: 4rem;
  height: auto;
  border-radius: 2rem;
  display: flex;
}

.navbar .contact {
  display: flex;
  flex-direction: row;
}

.navbar .contact a img {
  margin-right: 2rem;
  width: 1.5rem;
  height: auto;
}

.navbar .contact a:last-child {
  margin-right: 0px !important;
}

/* ///////////////////////////////////////// */
/* ////////  PERSON INFO CONTAINER  /////////////// */
/* //////////////////////////////////////// */

.person {
  width: 100%;
  display: block;
  position: relative;
  margin-top: 4rem;
}

.person .person__name {
  font-weight: 700;
  font-size: 4rem;
  padding: 1.2rem 0;
}

.person .person__position {
  font-weight: 500;
  font-size: 3.4rem;
  background-color: #6236ff;
  display: inline-block;
  padding: 0.8rem;
  border-radius: 2px;
}

.person .person_country {
  font-size: 500;
  font-size: 2.8rem;
  margin-top: 1rem;
  margin-bottom: 4.4rem;
  display: block;
}

.person .person__summary {
  line-height: 2.2rem;
  width: 56%;
  display: block;
  font-size: 1.4rem;
  font-weight: 300;
}

@media only screen and (max-width: 1140px) {
  section:nth-child(4) {
    overflow: auto;
  }
}
